name: Deploy Energy Monitor

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/energy/praca_inzynierska
            git fetch origin
            git reset --hard origin/main
            sudo docker compose up -d --build
            sudo docker exec energy_web python manage.py migrate
            sudo docker exec energy_web python manage.py collectstatic --noinput